article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
    @apply px-3;
    @apply font-testoNotizie;

}

h1, h2, h3, h4 {
    @apply font-testoTitolo;
    @apply text-verde-scuro;
}

article {
    @apply font-testoLato;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply no-underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply my-1;
        /* @apply mb-8;
         @apply md:mb-0.5;
         @apply pb-1;*/
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ul {
        @apply list-image-checkmark;
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.art-button, input[type=button], input[type=submit], input[type=reset] {

    @apply bg-green-500 !important;
    @apply hover:bg-green-700;
    @apply text-white;
    @apply py-2;
    @apply px-4;
    @apply rounded-full;
    @apply font-testoQuicksand;
    @apply font-bold;
    @apply text-sm;
    @apply transition;
    @apply duration-200;
    @apply ease-linear;
    @apply shadow-md;
    @apply hover:-translate-y-1;
    @apply hover:shadow-black;
    @apply hover:cursor-pointer;
}

.current_page_item, .current_menu_item {
    @apply text-verde-scuro;
    @apply font-bold;
    @apply underline;
    @apply underline-offset-8
}

#menu-top-menu li {
    @apply opacity-0;
}

#menu-top-menu li > .current_menu_item {
    @apply text-verde-scuro;
    @apply font-bold;
    @apply underline;
    @apply underline-offset-8
}

#ingredienti > ul {
    @apply list-image-[url(../../assets/image/icone/ul.png)];
    @apply list-outside;
    @apply align-middle;
}

.grecaptcha-badge {
    @apply invisible;
}

/*
.current_menu_item {
    @apply text-verde-scuro;
    @apply font-bold;
    @apply underline;
    @apply underline-offset-8
}*/