body { font: 14pt/24pt serif;}
a { color: #000; text-decoration: none; }
a[href^=http]:after { content: ' (' attr(href) ') '; }
img { display: block; max-width: 100%; height: auto; }
hr { display: none }
.art-nav .desktop-nav{
	display: none;
}