/*
Theme Name: roberta_12_9_17
Theme URI: 

Version: 1.0
Author: 
Author URI: 
Tags: fixed-width, one-column, valid HTML5, valid XHTML, widgets
*/

hr{
    height: 1px;
    color: #36963a;
    background-color: #36963a;
}
img{
    border: none;
}
.wp-block-image img{

    border: none!important;

}

#art-main
{
   background: #FFFFFF url('images/page.jpeg') top center fixed;
   margin:0 auto;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-align: justify;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:auto;
}
table, ul.art-hmenu
{
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #6DAF28;
   background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -webkit-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -moz-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -o-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -ms-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   -svg-background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   border:1px solid #6DAF28;
   padding:0 25px;
   margin:0 auto;
   height:25px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: justify;
}

.art-postcontent p
{
   margin: 10px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 28px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #80CC2E;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #90A792;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #5EB210;
}

.art-postcontent h1
{
   color: #90A792;
   margin: 20px 0 0;
   font-size: 22px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-blockcontent h1
{
   margin: 20px 0 0;
   font-size: 22px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 22px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h2
{
   color: #80CC2E;
   margin: 20px 0 0;
   font-size: 18px;
   font-family: Impact, Tahoma, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-blockcontent h2
{
   margin: 20px 0 0;
   font-size: 18px;
   font-family: Impact, Tahoma, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 18px;
   font-family: Impact, Tahoma, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h3
{
   color: #6E8C70;
   font-size: 16px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-blockcontent h3
{
   font-size: 16px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 16px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h4
{
   color: #FFFFFF;
   margin: 10px 0;
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-transform: uppercase;
   text-align: center;
   /*text-shadow: 1.4px 1.4px 1px rgba(23, 23, 23, 0.82);*/
}

.art-blockcontent h4
{
   margin: 10px 0;
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-transform: uppercase;
   text-align: center;
  /* text-shadow: 1.4px 1.4px 1px rgba(23, 23, 23, 0.82);*/
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-transform: uppercase;
   text-align: center;
   /*text-shadow: 1.4px 1.4px 1px rgba(23, 23, 23, 0.82);*/
}

.art-postcontent h5
{
   color: #364537;
   margin: 23px 10px 23px 20px;
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-blockcontent h5
{
   margin: 23px 10px 23px 20px;
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h6
{
   color: #6E8C70;
   margin: 32px 10px 32px 20px;
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-blockcontent h6
{
   margin: 32px 10px 32px 20px;
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
    margin: 20px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 900px;
   color: #737373;
}

.art-header:before, #art-header-bg:before, .art-layout-cell:before, .art-layout-wrapper:before, .art-footer:before, .art-nav:before, #art-hmenu-bg:before, .art-sheet:before
{
   width: 100%;
   content: " ";
   display: table;
}
.art-header:after, #art-header-bg:after, .art-layout-cell:after, .art-layout-wrapper:after, .art-footer:after, .art-nav:after, #art-hmenu-bg:after, .art-sheet:after,
.cleared, .clearfix:after {
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-object350333505
{
    display: block;
    left: 100%;
    margin-left: -345px;
    position: absolute;
    top: 11px;
    width: 352px;
    height: 230px;
    background-image: url('images/object350333505.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}
.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 58px;
  left: 5.32%;
  line-height: 100%;
  margin-left: -31px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
}

.art-headline, 
.art-headline a, 
.art-headline a:link, 
.art-headline a:visited, 
.art-headline a:hover
{
font-size: 58px;
font-family: Niconne, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
/*text-shadow: 0px 5px 4px rgba(129, 156, 132, 0.5);*/
  padding: 0;
  margin: 0;
  color: #51811D !important;
  white-space: nowrap;
}
.art-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 123px;
  left: 4.44%;
  line-height: 100%;
  margin-left: -19px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 102;
  white-space: nowrap;
}

.art-slogan, 
.art-slogan a, 
.art-slogan a:link, 
.art-slogan a:visited, 
.art-slogan a:hover
{
font-size: 48px;
font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
font-weight: normal;
font-style: normal;
text-align: left;
/*text-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.2), 1.4px 1.4px 1px rgba(0, 0, 0, 0.2), 2.1px 2.1px 2px rgba(0, 0, 0, 0.2), 2.8px 2.8px 1px rgba(0, 0, 0, 0.2), 3.5px 3.5px 1px rgba(0, 0, 0, 0.2);*/
  padding: 0;
  margin: 0;
  color: #82D02F !important;
}
.art-object1259051150 h1, 
.art-object1259051150 h2, 
.art-object1259051150 h3, 
.art-object1259051150 h4, 
.art-object1259051150 h5, 
.art-object1259051150 h6, 
.art-object1259051150 p, 
.art-object1259051150 a, 
.art-object1259051150 ul, 
.art-object1259051150 ol, 
.art-object1259051150 li
{
  line-height: 100%;
}

.art-object1259051150
{  
  position: absolute;
  top: 212px;
  left: 2.37%;
  margin-left: -5px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
      background-image: url('images/object1259051150.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 103;
  width: 225px;
  height: 26px;
}







.art-nav
{
   background: #000000;
   background: linear-gradient(top, rgba(51, 51, 51, 0.8) 0, rgba(5, 5, 5, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0.8) 0, rgba(5, 5, 5, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(51, 51, 51, 0.8) 0, rgba(5, 5, 5, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(51, 51, 51, 0.8) 0, rgba(5, 5, 5, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(51, 51, 51, 0.8) 0, rgba(5, 5, 5, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(51, 51, 51, 0.8) 0, rgba(5, 5, 5, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(51, 51, 51, 0.8) 0, rgba(5, 5, 5, 0.8) 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.12);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.12);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.12);
   padding:8px 0;
   margin:10px auto 0;
   position: relative;
   z-index: 499;
   text-align: center;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: middle;
   padding-left: 5px;
   padding-right: 5px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.art-nav:before 
{
   content:' ';
}

.desktop .art-nav{
   width: 900px;
   padding-left: 0;
   padding-right: 0;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 6px;
}
ul.art-hmenu>li:first-child {
   margin-left: 3px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 3px;
}

ul.art-hmenu>li>a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid transparent;
   padding:0 28px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 34px;
   cursor: pointer;
   text-decoration: none;
   color: #98AE9A;
   line-height: 34px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 13px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   background: #6DAF28;
   background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -webkit-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -moz-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -o-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -ms-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   -svg-background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid transparent;
   padding:0 28px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #A0DB61;
   background: linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: -webkit-linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: -moz-linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: -o-linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: -ms-linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   -svg-background: linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid transparent;
   padding:0 28px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop ul.art-hmenu>li:hover>a {
   color: #242E25;
   text-decoration: none;
}

ul.art-hmenu li li a
{
   background: #B9E58B;
   border:1px solid #A0DB61;
   padding:0 8px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   min-width: 7em;
   border: 1px solid transparent;
   text-align: left;
   line-height: 24px;
   color: #1F2820;
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin:0;
}

.art-hmenu li li a 
{
   border-top-width: 0 !important;
}
.art-hmenu li li:hover a 
{
   border-top-width: 1px !important;
}
.art-hmenu ul>li:first-child>a 
{
   border-top-width: 1px !important;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 24px;
   color: #1F2820;
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #A0DB61;
   border:1px solid #99EF48;
   margin:0 auto;
}

.art-hmenu ul li a:hover
{
   color: #242E25;
}

.art-hmenu ul li a.art-hmenu-before-hovered 
{
   border-bottom-width: 0 !important;
}

.desktop .art-hmenu ul li:hover>a
{
   color: #242E25;
}

ul.art-hmenu ul:before
{
   background: #7CEB14;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.art-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.art-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.art-header
{
   border:2px solid rgba(181, 197, 182, 0.5);
   margin:10px auto 0;
   position:relative;
   height: 250px;
   background-image: url('images/header.png');
   background-position: center top;
   background-repeat: no-repeat;
}

.responsive .art-header 
{
   background-image: url('images/header.png');
   background-position: center center;
}

.art-header-inner{
   position: relative;
   width: 900px;
   z-index: auto !important;
   margin: 0 auto;
}

.art-header>.widget 
{
   position:absolute;
   z-index:101;
}

.art-sheet
{
   background: #FFFFFF;
   background: rgba(255, 255, 255, 0.5);
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.07);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.07);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.07);
   border:2px solid rgba(181, 197, 182, 0.5);
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 900px;
   z-index: auto !important;
}

.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
    margin: 5px;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.art-postcontent .art-content-layout
{
   border-collapse: collapse;
}

.art-block
{
   background: #E5EBE6;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #B5C5B6;
   padding:7px;
   margin:7px;
}
div.art-block img
{
   margin: 0;
}

.art-blockheader
{
   padding:10px 7px;
   margin:0 auto;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #000000;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   margin-left: 10px;
   margin-right: 10px;
}

.art-blockcontent
{
   padding:7px;
   margin:0 auto;
   color: #2F3C30;
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #2F3C30;
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #72D813;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #98AE9A;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #67836A;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}
.art-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -10px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   line-height: 125%;
   color: #2F3C30;
   margin-left: 5px;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 10px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-transform: uppercase;
   font-variant: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 5px 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 25px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea, a.art-search-button span
{
   vertical-align: middle;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-transform: uppercase;
   font-variant: normal;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
}

.art-button.active, .art-button.active:hover
{
   background: #53851E;
   background: linear-gradient(top, #68A626 0, #416818 100%) no-repeat;
   background: -webkit-linear-gradient(top, #68A626 0, #416818 100%) no-repeat;
   background: -moz-linear-gradient(top, #68A626 0, #416818 100%) no-repeat;
   background: -o-linear-gradient(top, #68A626 0, #416818 100%) no-repeat;
   background: -ms-linear-gradient(top, #68A626 0, #416818 100%) no-repeat;
   background: linear-gradient(top, #68A626 0, #416818 100%) no-repeat;
   -svg-background: linear-gradient(top, #68A626 0, #416818 100%) no-repeat;
   border:1px solid #819C84;
   padding:0 25px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #DAE2DB !important;
}

.art-button.hover, .art-button:hover
{
   background: #87D237;
   background: linear-gradient(top, #99D855 0, #82D02F 64%, #75BB2A 100%) no-repeat;
   background: -webkit-linear-gradient(top, #99D855 0, #82D02F 64%, #75BB2A 100%) no-repeat;
   background: -moz-linear-gradient(top, #99D855 0, #82D02F 64%, #75BB2A 100%) no-repeat;
   background: -o-linear-gradient(top, #99D855 0, #82D02F 64%, #75BB2A 100%) no-repeat;
   background: -ms-linear-gradient(top, #99D855 0, #82D02F 64%, #75BB2A 100%) no-repeat;
   background: linear-gradient(top, #99D855 0, #82D02F 64%, #75BB2A 100%) no-repeat;
   -svg-background: linear-gradient(top, #99D855 0, #82D02F 64%, #75BB2A 100%) no-repeat;
   border:1px solid #6DAF28;
   padding:0 25px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #1B3404 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   border:1px solid rgba(155, 176, 157, 0.2);
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: auto;
   padding: 8px 0;
   color: #364537 !important;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.art-error, textarea.art-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #364537 !important;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #F9FAFB;
   background: linear-gradient(top, #CCD6E0 0, #EFF2F5 40%, #F2F5F7 50%, #F2F5F7 100%) no-repeat;
   background: -webkit-linear-gradient(top, #CCD6E0 0, #EFF2F5 40%, #F2F5F7 50%, #F2F5F7 100%) no-repeat;
   background: -moz-linear-gradient(top, #CCD6E0 0, #EFF2F5 40%, #F2F5F7 50%, #F2F5F7 100%) no-repeat;
   background: -o-linear-gradient(top, #CCD6E0 0, #EFF2F5 40%, #F2F5F7 50%, #F2F5F7 100%) no-repeat;
   background: -ms-linear-gradient(top, #CCD6E0 0, #EFF2F5 40%, #F2F5F7 50%, #F2F5F7 100%) no-repeat;
   background: linear-gradient(top, #CCD6E0 0, #EFF2F5 40%, #F2F5F7 50%, #F2F5F7 100%) no-repeat;
   -svg-background: linear-gradient(top, #CCD6E0 0, #EFF2F5 40%, #F2F5F7 50%, #F2F5F7 100%) no-repeat;
   border-radius: 0;
   border:1px solid #CCD6E0;
   margin:0 auto;
   width: 100%;
   padding: 4px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #364537 !important;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input, a.art-search-button
{
   top:0;
   right:0;
}

form.art-search>input, a.art-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.art-search input[type="submit"], input.art-search-button, a.art-search-button
{
   margin:0 auto;
}
form.art-search input[type="submit"], input.art-search-button, a.art-search-button {
   position:absolute;
   left:auto;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
   color: #4D910D !important;
   cursor: pointer;
}

a.art-search-button span.art-search-button-text {
   display: none;
}

label.art-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #364537 !important;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #B9E58B;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #DAF1C1;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #364537 !important;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #B9E58B;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #DAF1C1;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.art-comments
{
   border-top:1px dotted #A0DB61;
   margin:0 auto;
   margin-top: 25px;
}

.art-comments h2
{
   color: #2A430F;
}

.art-comment-inner
{
   background: #E2E8EE;
   background: transparent;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 94px;
}
.art-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:1px;
   background:#fff;
   border:1px solid #E2E8EE;
}

.art-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.art-comment-content
{
   padding:10px 0;
   color: #3B710A;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-comment
{
   margin-top: 6px;
}

#comment-list>li:first-child>.art-comment
{
   margin-top: 0;
}

.art-comment-header
{
   color: #2A430F;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 100%;
}

.art-comment-header a, 
.art-comment-header a:link, 
.art-comment-header a:visited,
.art-comment-header a.visited,
.art-comment-header a:hover,
.art-comment-header a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 100%;
}

.art-comment-header a, .art-comment-header a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #87D237;
}

.art-comment-header a:visited, .art-comment-header a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #87D237;
}

.art-comment-header a:hover,  .art-comment-header a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #87D237;
}

.art-comment-content a, 
.art-comment-content a:link, 
.art-comment-content a:visited,
.art-comment-content a.visited,
.art-comment-content a:hover,
.art-comment-content a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-comment-content a, .art-comment-content a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #5C755E;
}

.art-comment-content a:visited, .art-comment-content a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #4F960D;
}

.art-comment-content a:hover,  .art-comment-content a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #5C755E;
}

.art-pager
{
   background: #EFF2F5;
   background: linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #A0DB61;
   padding:5px;
   margin-right: 10px;
}

.art-pager>*:last-child,
.art-pager>*:last-child:hover
{
   margin-right:0;
}

.art-pager>span {
   cursor:default;
}

.art-pager>*
{
   background: #DAF1C1;
   background: linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #DAF1C1;
   padding:7px;
   margin:0 4px 0 auto;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.art-pager a:link,
.art-pager a:visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1F320B
;
}

.art-pager .active
{
   background: #B6BFC9;
   background: linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -webkit-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -moz-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -o-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -ms-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   -svg-background: linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   border:1px solid #DAF1C1;
   padding:7px;
   margin:0 4px 0 auto;
   color: #FFFFFF
;
}

.art-pager .more
{
   background: #DAF1C1;
   background: linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #ADE076 100%) no-repeat;
   border:1px solid #DAF1C1;
   margin:0 4px 0 auto;
}
.art-pager a.more:link,
.art-pager a.more:visited
{
   color: #1B221C
;
}
.art-pager a:hover
{
   background: #B9E58B;
   background: linear-gradient(top, #E1F4CD 0, #91D548 100%) no-repeat;
   background: -webkit-linear-gradient(top, #E1F4CD 0, #91D548 100%) no-repeat;
   background: -moz-linear-gradient(top, #E1F4CD 0, #91D548 100%) no-repeat;
   background: -o-linear-gradient(top, #E1F4CD 0, #91D548 100%) no-repeat;
   background: -ms-linear-gradient(top, #E1F4CD 0, #91D548 100%) no-repeat;
   background: linear-gradient(top, #E1F4CD 0, #91D548 100%) no-repeat;
   -svg-background: linear-gradient(top, #E1F4CD 0, #91D548 100%) no-repeat;
   border:1px solid #DAF1C1;
   padding:7px;
   margin:0 4px 0 auto;
}
.art-pager  a:hover,
.art-pager  a.more:hover
{
   color: #243A0D
;
}
.art-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.art-pager>*:last-child:after{
   display:none;
}

.art-commentsform
{
   background: #E2E8EE;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #2A430F;
}

.art-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #2A430F;
}

.art-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.art-commentsform input:not([type=submit]), .art-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.art-commentsform .form-submit
{
   margin-top: 10px;
}

a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer-text img
{
   border: 1px solid #E5EBE6;
   margin: 0 0 0 0;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   border: solid 1px #819C84;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 0 0 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postheader
{
  /* color: #67836A;
   margin: 10px 0 0 10px;
   font-size: 22px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;*/
    font-size: 40px;
    font-family: Niconne, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    /*text-shadow: 0px 5px 4px rgba(129, 156, 132, 0.5);*/

    padding: 5px;
    margin: 5px;
    color: #51811D !important;
    text-align: center;
    word-wrap: break-word;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 22px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postheader a, .art-postheader a:link
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #73B72A;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #7C987E;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #5EB210;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #485B49;
}

.art-postheadericons
{
   padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #598D20;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #598D20;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1D2E0A;
}

.art-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 1px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 150%;
   color: #737373;
   margin: 0 0 10px 9px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 11px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -11px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 9px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 9px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 0 0 10px 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #E7FBD5;
   border:1px solid #B9E58B;
   padding:6px;
   margin:10px 10px 10px 50px;
   color: #112103;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer-text blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer-text blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer-text blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer-text blockquote a:hover
{
   color: #112103;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer-text blockquote p
{
   margin: 0;
   margin: 2px 0;
}

.art-footer
{
   background: #B9E58B;
   -webkit-border-radius:0 0 3px 3px;
   -moz-border-radius:0 0 3px 3px;
   border-radius:0 0 3px 3px;
   padding:10px;
   margin:0 auto;
   position: relative;
   color: #808080;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: center;
}

.art-footer-text a,
.art-footer-text a:link,
.art-footer-text a:visited,
.art-footer-text a:hover,
.art-footer-text td, 
.art-footer-text th,
.art-footer-text caption
{
   color: #808080;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer-text p 
{
   padding:0;
   text-align: center;
}

.art-footer-text a,
.art-footer-text a:link
{
   color: #396C09;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer-text a:visited
{
   color: #435645;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer-text a:hover
{
   color: #4E7D1C;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer-text h1
{
   color: #87D237;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-footer-text h2
{
   color: #A0DB61;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-footer-text h3
{
   color: #9BB09D;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-footer-text h4
{
   color: #B6F47C;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-footer-text h5
{
   color: #B6F47C;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-footer-text h6
{
   color: #B6F47C;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-footer-text img
{
   margin: 12px;
}

.art-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:9px;
   min-width:15px;
   display: inline-block;
   text-indent: 18px;
   background-position: left center;
}

.art-rss-tag-icon:empty
{
   vertical-align: middle;
}

.art-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.art-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.art-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.art-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.art-footer-text ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .art-footer-text ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-footer-text li
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 125%;
   color: #283329;
}

.art-footer-text ul>li, .art-footer-text ol
{
   padding: 0;
}

.art-footer-text ul>li
{
   padding-left: 13px;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #75BB2A;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #808080;
}

.art-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.art-lightbox,
.art-lightbox-wrapper .art-lightbox-image
{
   cursor: pointer;
}

.art-lightbox-wrapper .art-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.art-lightbox-wrapper .art-lightbox-image.active
{
   display: inline-block;
}

.art-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.art-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.art-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.art-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.art-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.art-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.art-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.art-lightbox-wrapper .arrow-t, 
.art-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.art-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.art-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.art-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.art-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.art-lightbox-wrapper .close .cw, 
.art-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.art-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.art-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.art-lightbox-wrapper .close-alt, 
.art-lightbox-wrapper .arrow-right-alt, 
.art-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .art-lightbox-wrapper .close-alt, 
.ie8 .art-lightbox-wrapper .arrow-right-alt, 
.ie8 .art-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .art-lightbox-wrapper .cw, 
.ie8 .art-lightbox-wrapper .ccw 
{
   display: none;
}

.art-content-layout .art-content
{
   margin:0 auto;
}



#comment
{
    width:99%;
}

#comments-list, #comments-list .comment 
{
  background: none;
  padding:0;
  margin:0;
  overflow: visible;
}

#comments-list .comment:before, #comments-list .comment:after
{
  display:none;
}

#comments-list .comment .comment 
{
  margin-left: 20px;
}

span.page-navi-outer, span.page-navi-inner 
{
    position:relative;
    display:block;
    float:left;
    margin:0;
    padding:0;
}

span.page-navi-outer
{
  margin: 1px;
  border: 1px solid #aaa;
}

span.page-navi-inner 
{
  padding: 1px;
  min-width:14px;
  line-height:18px;
  text-align:center;
  border: 2px solid #fff;
  font-weight:bold;
}

a span.page-navi-inner, span.page-navi-caption span.page-navi-inner 
{
    border-width:1px;
    font-weight:normal;
}

a span.page-navi-outer, span.page-navi-caption
{
    margin:2px 1px;
}

ul#comments-list li cite
{
  font-size: 1.2em;
}

#commentform textarea
{
  width: 100%;
}

#commentform
{
  text-align:left;
}

.rtl #commentform
{
  text-align:right;
}

img.wp-smiley
{
  border: none;
  margin: 1px;
  vertical-align:middle;
  padding: 0;
}

.navigation
{
  display: block;
  text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter, .art-article .aligncenter img, .aligncenter img.art-article, .aligncenter img, img.aligncenter
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.aligncenter , p.center 
{
   text-align: center; 
}

.alignleft
{
  float: left;
}

.alignright
{
  float: right;
}

.wp-caption
{
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
}

.wp-caption img
{
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text
{
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

.wp-caption, .wp-caption p
{
    text-align: center;
}

.gallery {
	margin: 0 auto 18px;
    clear:both;
    overflow:hidden;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}

.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery img {
	border: 10px solid #f1f1f1;
}

.gallery br+br {
	display: none;
}
/* End */


.hidden
{
  display: none;
}

/* Calendar */
#wp-calendar {
  empty-cells: show;
  margin: 10px auto 0;
  width: 155px;
}

#wp-calendar #next a {
  padding-right: 10px;
  text-align: right;
}

#wp-calendar #prev a {
  padding-left: 10px;
  text-align: left;
}

#wp-calendar a {
  display: block;
}

#wp-calendar caption {
  text-align: center;
  width: 100%;
}

#wp-calendar td {
  padding: 3px 0;
  text-align: center;
}

.gallery {
  letter-spacing: normal;
}

.art-content {
  position: relative;
  z-index: 1;   
}

#todays-events{
  position: relative;
  z-index: 11;    
}

#upcoming-events{
  position: relative;
  z-index: 10;    
}

img.wp-post-image 
{
    margin:0 5px 5px 0 !important;
}

ul#comments-list li
{
    list-style-image: none;
    background:none;
    list-style-type:none;
    
}

div.art-footer div.art-content-layout
{
    margin:0 auto;
    width:100%;
}

div.art-layout-cell-size1 
{
    width:100%;
}

div.art-layout-cell-size2 
{
    width:50%;
}
div.art-layout-cell-size3 
{
    width:33%;
}

div.art-layout-cell-size4
{
    width:25%;
}

.art-widget-title
{
    padding:0 0 0 24px;
    margin-bottom:0;
}

div.art-center-wrapper
{
  position: relative;
  float: right;
  right: 50%;

}

div.art-center-inner
{
  position: relative;
  float: left;
  left: 50%;
}

.firefox2 div.art-center-inner
{
  float: none;
}

.art-hmenu-extra1, .art-hmenu-extra2 {
 font-size:12px;
}

div.breadcrumbs h4, 
div.breadcrumbs p, 
li.pingback p, 
#respond p,
h3#reply-title, 
h4#comments, 
h4.box-title
{
    margin:0;
    color: green;
}

#respond .comment-notes {
	margin-bottom: 1em;
}

.form-allowed-tags {
	line-height: 1em;
}

#comments-list #respond {
	margin-left: 20px !important;
}

#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
}

#respond label {
	font-size: 12px;
}

#respond input {
	margin: 0 0 9px;
	width: 98%;
}

#respond textarea {
	width: 98%;
}

#respond .form-allowed-tags {
	font-size: 12px;
	line-height: 18px;
}

#respond .form-allowed-tags code {
	font-size: 11px;
}

#respond .form-submit {
	margin: 12px 0;
}

#respond .form-submit input {
	width: auto;
}

.art-footer .art-widget-title 
{
    font-size:1.2em;
    padding: 0;
}

.art-footer .art-widget,
.art-footer .art-widget a,
.art-footer .art-widget a:link,
.art-footer .art-widget a:visited,
.art-footer .art-widget a:hover
{
    text-align: left;
}

DIV[id^="GMPmap"] IMG 
{
    margin: 0px;
}

/* Begin Additional CSS Styles */
.art-blockheader .t, .art-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */


/*
Personali
 */
.bold{
    font-weight: bold;
}
.ricetta{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Georgia;
    font-size: 11px;
    color: #797979;

}
.ricetta ul {
    list-style-image: url("images/ul.png");
    vertical-align: middle;
}
.ricetta ul li{
  padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;


}
.ricetta .titolo{
    font-size: 20px;
    font-family: Niconne, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    /*text-shadow: 0px 5px 4px rgba(129, 156, 132, 0.5);*/

    padding: 5px;
    margin: 5px;
    color: #51811D !important;
    text-align: center;
     word-wrap: break-word;

}
.ricetta h1{
    font-size: 40px;
    font-family: Niconne, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    /*text-shadow: 0px 5px 4px rgba(129, 156, 132, 0.5);*/

    padding: 5px;
    margin: 5px;
    color: #51811D !important;
    text-align: center;
    word-wrap: break-word;

}
.ricetta .titolo_big{
    font-size: 20px;
    font-family: Niconne, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    /*text-shadow: 0px 5px 4px rgba(129, 156, 132, 0.5);*/
    padding: 5px;
    margin: 5px;
    color: #51811D !important;
    word-wrap: break-word;

}
.ricetta .preparazione{
    margin-bottom: 20px;
    margin-right: 20px;
    padding-right: 20px;
}
.ricetta hr {
    height: 1px;

    color:  #36963a;
    background-color:  #36963a;

}
.ricetta .excerpt{
    margin-right: 5px;
    padding-right:5px;
}
.ricetta .ingredienti{
    font-size: 12px;
}

/*Paginazione*/
/* Impaginazione numerica */

.pagination {
    clear:both;
    font-size:11px;
    line-height:13px;
    padding: 10px 0 10px 15px;
    position:relative;

}

.pagination span, .pagination a {
    background:            #36963a;
    background-attachment: scroll;
    background-repeat:     repeat-x;
    color:                white;
    display:               block;
    float:                 left;
    margin:                2px 2px 2px 0;
    padding:               6px 9px 5px 9px;
    text-decoration:       none;
    width:                 auto;
}

.pagination a:hover{
    background: #36963a;
    color:      white;
}

.pagination .current{
    background: #FFFFFF;
    color:      #36963a;
    padding:    6px 9px 5px 9px;
    font-weight: bold;
}

.larghezza{
width:auto;
}

.iubenda-white {
   /* background: #FFF url(//cdn.iubenda.com/icon_green_mini.gif) no-repeat;
    background-position: 7px 3px;
    background-position-x: 6px;
    background-position-y: 2px;
    padding-left: 20px;
    text-decoration: none;
    color: #59636d;
    -webkit-box-shadow: 0 1px 0 #ebebec;
    -moz-box-shadow: 0 1px 0 #ebebec;
    box-shadow: 0 1px 0 #ebebec;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.08);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.08);
    box-shadow: 0 1px 0 rgba(0,0,0,0.08);
    border-top-color: #d0d0d0;
    border-left-color: #c3c3c3;
    border-right-color: #c3c3c3;
    border-bottom-color: #b8b9ba;
*/


    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-variant: normal;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF;
    margin: 5px 5px 0 0 !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 25px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.art-button2
{
    border-collapse: separate;
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
    background: #6DAF28;
    background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
    background: -webkit-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
    background: -moz-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
    background: -o-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
    background: -ms-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
    background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
    -svg-background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
    border:1px solid #6DAF28;
    padding:0 25px;
    margin:0 auto;
    height:25px;
    left: -25px;
    top: -2px;
}

a.art-button2, a.art-button2:link, a:link.art-button2:link, body a.art-button2:link, a.art-button2:visited, body a.art-button2:visited, input.art-button2, button.art-button2 {
    text-decoration: none;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-variant: normal;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF;
   /* margin: 5px 5px 0 0 !important;*/
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 25px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 200px;
    right: 0;
    /*background-color: #DDD;*/
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    /*background-color: #DDF;*/
    color: #000;
}

.flex {
    display:         flex;
    justify-content: center;
    clear:           both;
    flex-wrap: nowrap
}


.flex> div {

    color:                 black;
    text-align:            center;
    line-height:           20px;
    vertical-align:        middle;
    width:                 33%;
    padding-bottom:        20px; /* safari, chrome */
    margin-right:          20px;
    padding-right:         20px;


}
.flex2 {
    display:         flex;
    justify-content: center;
    clear:           both;
    flex-wrap: nowrap
}


.flex2> div {


    text-align:            center;
    line-height:           20px;
    vertical-align:        middle;
    width:                 49%;
    border-style:          solid;
    border-width:          1px;
    border-color:          #6DAF28;
    border-radius:         5px;
    -moz-border-radius:    5px; /* firefox */
    -webkit-border-radius: 5px;
    margin-bottom:         5px;
    padding-bottom:        5px; /* safari, chrome */
    margin-right:          10px;
    padding-right:         10px;
    box-shadow:            2px 2px #b3adad;


}
.flex2 img  {
    border: none!important;
}


@media (max-width: 860px) {
    .flex,.flex2 {
        flex-direction: column;
    }
    .flex > div ,.flex2 > div{
        width: 90%;

    }

}
.nota{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin: 10px;
    padding:10px;
}

.corsoonline{
    border-style:          solid;
    border-width:          1px;
    border-color:          #003366;
    border-radius:         5px;
    -moz-border-radius:    5px; /* firefox */
    -webkit-border-radius: 5px;
    margin-bottom:         20px;
    padding-bottom:        20px; /* safari, chrome */
    margin-right:          20px;
    padding-right:         20px;
    padding-left: 20px;
    margin-right: 20px;
    box-shadow:            4px 4px #b3adad;

}
 .badge {
    background-color: #6DAF28;
    border-radius: 4px 0 0 4px;
    color: #fff;
    display: inline-block;
    font-size: small;
    height: 1.8em;
    left: -1px;
    line-height: 1em;
    margin-right: .8em;
    padding: .8em .7em 0 .7em;
    position: relative;

}

