body, html {
    margin:      0;
    padding:     0;
    font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
    line-height: 12px
}

a {
    display:               inline-block;
    padding:               0 8px;
    border:                1px;
    border-style:          solid;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    font-size:             11px;
    border:                1px solid #d2d3d3;
    line-height:           18px;
    font-weight:           bold
}

.iubenda-white {
    /*background:            #FFF url(//cdn.iubenda.com/icon_green_mini.gif) no-repeat;*/
    background-position:   7px 3px;
    background-position-x: 6px;
    background-position-y: 2px;
    padding-left:          20px;
    text-decoration:       none;
    color:                 #59636d;
    -webkit-box-shadow:    0 1px 0 #ebebec;
    -moz-box-shadow:       0 1px 0 #ebebec;
    box-shadow:            0 1px 0 #ebebec;
    -webkit-box-shadow:    0 1px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow:       0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow:            0 1px 0 rgba(0, 0, 0, 0.08);
    border-top-color:      #d0d0d0;
    border-left-color:     #c3c3c3;
    border-right-color:    #c3c3c3;
    border-bottom-color:   #b8b9ba
}

.iubenda-white:hover {
    color: #333
}

.iubenda-white:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:         inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.iubenda-black {
    background:            #383838 url(//cdn.iubenda.com/icon_gray_mini.gif) no-repeat;
    background-position:   7px 3px;
    background-position-x: 6px;
    background-position-y: 2px;
    padding-left:          20px;
    text-decoration:       none;
    color:                 #FFF;
    -webkit-box-shadow:    0 1px 0 #5b5c5c;
    -moz-box-shadow:       0 1px 0 #5b5c5c;
    box-shadow:            0 1px 0 #5b5c5c;
    -webkit-box-shadow:    0 1px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow:       0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow:            0 1px 0 rgba(0, 0, 0, 0.08);
    border-color:          transparent
}

.iubenda-black:hover {
    color: #EEE
}

.iubenda-black:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    inset 0 2px 4px rgba(0, 0, 0, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:         inset 0 2px 4px rgba(0, 0, 0, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.no-brand {
    background-image: none;
    padding-left:     8px
}

.iub-anchor {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius:    3px 3px 0 0;
    border-radius:         3px 3px 0 0;
    border-bottom:         0;
    position:              fixed;
    bottom:                0
}

.iubenda-iframe-anchor {
    position: fixed;
    bottom:   0;
    right:    100px
}